<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="552697354852-fe1rf9ou6rkfa3bc2ngbmh9eo11l38ug.apps.googleusercontent.com">
    <title>bl0ck1 project | BaconBitz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body ng-controller="ChatController">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">bl0ck1 | BaconBitz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li ng-repeat="section in sections" class="nav-item">
              <a class="nav-link" href="#{{ section.name }}">{{ section.name }}</a>
              </li>
          </ul>
        </div>
      </nav>
    </header>
    <main role="main">
      <div id="chatroom_wrapper">
        <div id="chatroom_inner">
          <h2>Live Demo:</h2>
          <div id="messages_wrapper">
            <div ng-repeat="chat in chatroom" style="list-style: none;">
              <div class="speech-bubble">{{ chat.name }} :<br />  {{ chat.message }}</div>
            </div>
          </div>
          <form id="chat_form">
            <div>Testing: {{loggedIn}}</div>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <div class="flexbox">
              <input id="chat_message" type="text" autocomplete="off" class="stretch">
            </div>
          </form>
        </div>
      </div>
      <div class="container marketing">
        <div class="row">
          <div ng-repeat="section in sections" class="col-lg-4">
            <img class="rounded-circle" src="{{ section.prv }}" alt="Generic placeholder image" width="140" height="140">
            <h2>{{ section.name }}</h2>
            <p>{{ section.teaser }}</p>
            <p><a class="btn btn-secondary" href="#{{ section.name }}" role="button">View details &raquo;</a></p>   
          </div>
        </div>
        <div>
          <div ng-repeat="section in sections">
            <hr class="featurette-divider">
            <a name="{{ section.name }}" />
            <!-- Even Rows -->
            <div class="row featurette" ng-if="$even">
              <div class="col-md-7">
                <h2 class="featurette-heading">{{ section.header }} <span class="text-muted">{{ section.subheader }}</span></h2>
                <p class="lead">{{ section.details }}</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="{{ section.img }}" alt="Generic placeholder image">
              </div>
            </div>
            <!-- Odd Rows -->
             <div class="row featurette" ng-if="$odd">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">{{ section.header }} <span class="text-muted">{{ section.subheader }}</span></h2>
                <p class="lead">{{ section.details }}</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="{{ section.img }}" alt="Generic placeholder image">
              </div>
            </div> 
          </div>
        </div>
        <hr class="featurette-divider">
      </div>
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 a bl0ck1 project</p>
      </footer>
    </main>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="js/main.js"></script>
  </body>
</html>
